<!DOCTYPE html>
<html>
  <head>
    <title>Updates for www.trackmyballs.com</title>
    <style>

    .my-button {
            display: flex;
        justify-content: center;
        background-color: black;
        border-radius: 25px;
        color: white;
        padding: 20px 40px;
        margin: 0 10px;
        width: 30%;
        font-size: 40px;
    }

    .my-button:hover {
        background-color: white;
        color: black;
    }

    h1 {
<!--        text-align: center;-->
        padding-left: 15%;
        font-size: 4rem;
        margin-top: 2rem;
    }
  </style>
  </head>
  <body>
    <h1>Recent Updates</h1>
    <button class="my-button" onclick="location.href='{{ url_for('home') }}'">Home</button>
    <br>
    <br>
    <br>
    <p><b><u>3-5-23</u></b></p>
    <p>Added more styling to Demo Dashboard 2.0</p>
    <p>Fixed obvious visual bugs caused due to styling</p>
    <p>Cleaned up the code</p>
    <p>Attempted to fix browser layout issues, Safari still needs work</p>
    <p>Changes uploaded to www.trackmyballs.com</p>
    <p><b><u>3-4-23</u></b></p>
    <p>Added changlog</p>
    <p>Added styling to home page</p>
    <p>Added styling to Demo Dashboard 2.0</p>
    <p><b><u>3-3-23</u></b></p>
    <p>Verified functionality of Demo Dashboard 2.0</p>
    <p>Verified functionality of Demo Dashboard 1.0</p>
    <p>Verified all the databases read & write</p>
    <p>Hosted at www.trackmyballs.com</p>
  </body>
  <br><br><br><br><br><br>
    <div style="text-align: center;">
      © 2023 David Barker. All rights reserved.
    </div>
</html>