<!DOCTYPE html>
<html>
  <head>
    <meta name = "Author" content= "David Barker"/>
    <meta name = "description" content= "All Rights Reserved"/>
    <title>Updates for www.trackmyballs.com</title>
    <style>

    .my-button {
        display: flex;
        justify-content: center;
        background-color: black;
        border-radius: 25px;
        color: white;
        padding: 20px 40px;
        margin: 0 10px;
        width: 30%;
        font-size: 40px;
    }

    .my-button:hover {
        background-color: white;
        color: black;
    }

    h1 {
<!--        text-align: center;-->
        padding-left: 15%;
        font-size: 4rem;
        margin-top: 2rem;
    }
  </style>
  </head>
  <body>
    <h1>Recent Updates</h1>
    <button class="my-button" onclick="location.href='{{ url_for('home') }}'">Home</button>
    <br>
    <br>
    <br>
    <p><b><u>3-18-23</u></b></p>
    <p>Made a few styling changes to login, register, dashboard, and practice pages</p>
    <p>Changes uploaded to www.trackmyballs.com</p>
    <p><b><u>3-17-23</u></b></p>
    <p>Found the issues with the login/register not working while being deployed</p>
    <p>Fixed the issue and everything seems to work</p>
    <p><b><u>3-16-23</u></b></p>
    <p>Created 3 different login/register flask apps that work as a local host</p>
    <p>Uploaded one to GitHub</p>
    <p><b><u>3-15-23</u></b></p>
    <p>More reading and research</p>
    <p><b><u>3-14-23</u></b></p>
    <p>Started to troubleshoot login/register, neither worked while being deployed</p>
    <p>Mostly tons of reading and research</p>
    <p><b><u>3-10-23</u></b></p>
    <p>Finished styling on practice 2.0 dashboard</p>
    <p>Cleaned up the code</p>
    <p>Fixed register() overwriting user database bug</p>
    <p>Cleaned more code & added comments</p>
    <p>Added missing styling touches throughout, AKA boarders on buttons</p>
    <p>Added user dashboard landing page</p>
    <p>Fixed login() creating empty databases bug</p>
    <p>Changes uploaded to www.trackmyballs.com</p>
    <p><b><u>3-9-23</u></b></p>
    <p>Added wrongUser page for simplicity</p>
    <p>Styled new pages accordingly</p>
    <p>Re-styled the home page</p>
    <p>Re-styled practice 2.0 dashboard</p>
    <p><b><u>3-8-23</u></b></p>
    <p>Added Login page with basic styling</p>
    <p>Added Register page with basic styling</p>
    <p>Added user database and ability to create new user databases</p>
    <p>Added input field errors to both login/register</p>
    <p>Hashed passwords</p>
    <p><b><u>3-6-23</u></b></p>
    <p>Fixed average direction table styling issues specific to safari mobile</p>
    <p>Attempted to fix styling issues on smaller screens in general</p>
    <p>Fixed database bug, everybody read/write from the same database on Dashboard 2.0</p>
    <p>Changes uploaded to www.trackmyballs.com</p>
    <p>Fixed new database bug caused by end_practice() being called</p>
    <p>Changes uploaded to www.trackmyballs.com</p>
    <p><b><u>3-5-23</u></b></p>
    <p>Added more styling to Demo Dashboard 2.0</p>
    <p>Fixed obvious visual bugs caused due to styling</p>
    <p>Cleaned up the code</p>
    <p>Attempted to fix browser layout issues, Safari still needs work</p>
    <p>Changes uploaded to www.trackmyballs.com</p>
    <p><b><u>3-4-23</u></b></p>
    <p>Added changlog</p>
    <p>Added styling to home page</p>
    <p>Added styling to Demo Dashboard 2.0</p>
    <p><b><u>3-3-23</u></b></p>
    <p>Verified functionality of Demo Dashboard 2.0</p>
    <p>Verified functionality of Demo Dashboard 1.0</p>
    <p>Verified all the databases read & write</p>
    <p>Hosted at www.trackmyballs.com</p>
  </body>
  <br><br><br><br><br><br>
    <div style="text-align: center;">
      © 2023 David Barker. All rights reserved.
    </div>
</html>