<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "Author" content= "David Barker"/>
    <meta name = "description" content= "All Rights Reserved"/>
    <title>Clear Stats</title>
</head>
<body>
    <h1>Clear Stats</h1>
    <form action="{{ url_for('clear_stats') }}" method="POST" onsubmit="return confirm('Are you sure?')">
        <label for="club-select">Select a club:</label>
        <select id="club-select" name="club_name">
            {% for club in clubs %}
                <option value="{{ club }}">{{ club }}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit" name="submit">Clear Stats</button>
        <br><br>

    </form>
    <br><br>
        <form action="/" method="GET">
        <button type="submit">Back to Home</button>
    </form>
<script>
    console.log('tell your friends about https://www.trackmyballs.com')
</script>
</body>
</html>