<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Stats</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: lightgray;
        }
    </style>
</head>
<body>
    <h1>Current Stats</h1>
    <table>
        <thead>
            <tr>
                <th>Club Name</th>
                <th style ="width: 50%">Direction</th>
<!--                <th>Distance</th>-->
                <th>Hits</th>
            </tr>
        </thead>
        <tbody>
<!--            {% for club in clubs %}-->
<!--            <tr>-->
<!--                <td>{{ club.name }}</td>-->
<!--                <td>{{ club.direction }}</td>-->
<!--                <td style="width: 4em;">{{ club.distance }}</td>-->
<!--                <td>{{ club.hits }}</td>-->
<!--            </tr>-->
<!--            {% endfor %}-->
          {% for club in clubs %}
            <tr>
                <td>{{ club[0] }}</td>
                <td><meter min="0" max="100" value="{{ club[1] }}" style="width: 200px;"></meter></td>
<!--            This is the distance, add when ready    -->
<!--                <td>{{ club[2] }}</td>-->
                <td>{{ club[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br><br>
    <form action="/" method="GET">
        <button type="submit">Back to Home</button>
    </form>
    <br>
    <button class="my-button" onclick="location.href='{{ url_for('range_time') }}'">Range Time</button>
    <br><br>
        <form method="GET" action="/index">
      <input type="submit" value="Back to Dashboard">
    </form><br><br><br><br>
    <form action="{{ url_for('clear_stats') }}" method="get">
        <button type="submit">Clear Stats</button>
    </form>
<br>
<h4>The direction is the calculated to be the average direction per club hits</h4>
<h4>All of these values are pulled and saved in a database, no values are hard coded</h4>
</body>
</html>